@model DWEB_NET.Models.TblOrcamentos

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/Orcamentos.css" />
<link rel="stylesheet" href="~/css/Hero.css" />

<br />
<br />
<h1>Orçamentos</h1>
<br />

<h2>Adicionar Orçamento</h2>
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"><strong>Título:</strong></label>
                <input asp-for="NomeOrcamento" class="form-control" />
                <span asp-validation-for="NomeOrcamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"><strong>Valor Necessário:</strong></label>
                <input asp-for="ValorNecessario" class="form-control" />
                <span asp-validation-for="ValorNecessario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"><strong>Data em que começa:</strong></label>
                <input asp-for="DataInicial" class="form-control" />
                <span asp-validation-for="DataInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"><strong>Data final:</strong></label>
                <input asp-for="DataFinal" class="form-control" />
                <span asp-validation-for="DataFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"><strong>Valor atual:</strong></label>
                <input asp-for="ValorAtual" class="form-control" />
                <span asp-validation-for="ValorAtual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"><strong>Utilizador:</strong></label>
                <select asp-for="UserFK" class="form-control" asp-items="ViewBag.UserFK"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar Orcamento" class="btn btn-primary"/>
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Details", "TblOrcamentos")'">Ver Detalhes</button>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}