@model DWEB_NET.Models.TblTransacoes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblTransacoes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransacaoID" />
            <div class="form-group">
                <label asp-for="DataTime" class="control-label"></label>
                <input asp-for="DataTime" class="form-control" />
                <span asp-validation-for="DataTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoTransacao" class="control-label"></label>
                <select asp-for="TipoTransacao" class="form-control"></select>
                <span asp-validation-for="TipoTransacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTransacao" class="control-label"></label>
                <input asp-for="ValorTransacao" class="form-control" />
                <span asp-validation-for="ValorTransacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContaFK" class="control-label"></label>
                <select asp-for="ContaFK" class="form-control" asp-items="ViewBag.ContaFK"></select>
                <span asp-validation-for="ContaFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserFK" class="control-label"></label>
                <select asp-for="UserFK" class="form-control" asp-items="ViewBag.UserFK"></select>
                <span asp-validation-for="UserFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
